
html, body {
    height: 100vh
}
body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.opacity-background {
    background-color: black;
    opacity: 50%;
}

.logo-container, .opacity-background {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    height: calc(100px + 10vh);
    transform: translateY(-50%);

}
.logo-container {
    background-image: url(the-odin-project-logo-skill-finder-partners-page.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 9999;
    height: calc(50px + 10vh);
}

.left-container {
    height: 100vh;
    position: relative;
    background-image: url(tony-litvyak-6AK7fLBumYA-unsplash.jpg);
    background-size: max(150vh, 150%);
    background-repeat: no-repeat;
    background-position: center center;
    width: 40%;
    overflow: visible;
}

.right-container {
    width: max(400px, 60vw);
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    
}

form {
    flex: 1 1 150px;
    width: 100%; 
    padding-top: 5px;
    padding-left: 10vw;
}

.grid-container {
    display: grid;
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: 150px 150px;
    column-gap: 5vw;
}

fieldset, legend {
    border: none;
    padding-top: 10px;
}

.header, .footer {
    height: calc(35vh);
    width: 100%; 
    background-color:rgb(244, 255, 237);
    
}
.header {

}
.footer {
    
}