* {
    border: solid;
}
body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}


.left-container {
    height: 100vh;
    background-image: url(tony-litvyak-6AK7fLBumYA-unsplash.jpg);
    background-size: max(100vh, 150%);
    background-repeat: no-repeat;
    background-position: center center;
}

.left-container, .right-container {
    width: 50%
}

.right-container {
    width: max(400px, 50vw);
}

form {
}

.header, .footer {
    height: calc(50px + 10vh);
    width: max(400px, 50vw); 
    position: fixed;
}
.header {
    top: 0;
}
.footer {
    bottom: 0;
}